.about {
  margin-bottom: 150px;
}


.about__title {
  font-size: 18px;
  line-height: 25px;
}

.about__text {
  margin: 30px 0;
  max-width: 1050px;
  padding-left: 2px;
}

.about__text p {
  font-size: 45px;
  line-height: 61px;
}

.about__actions {
  margin-top: 30px;
}

@media (max-width: 1199px) {
  .about {
    margin-bottom: 120px;
  }
  .about__title {
    font-size: 18px;
  }
  .about__text p {
    font-size: 35px;
    line-height: 48px;
    max-width: 690px;
  }
}

@media (max-width: 767px) { 
  .about__title {
    font-size: 14px;
  }
  .about__text p {
    font-size: 22px;
    line-height: 125%;
  }
}