.header {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 1180px;
}

.header-logo {
  height: 22px;
  width: 127px;
}

.logo-link {
}

.nav {
}

.nav-list {
  position: relative;
  transition: color 0.3s ease;
  display: flex;
  gap: 60px;
}

.list-item:hover {
  color: var(--color-grey2);
  /* text-decoration: underline; */
}

.list-item_link {
  font-size: 18px;
  letter-spacing: -3%;
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.list-item_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-grey2);
  transition: width 0.3s ease;
}

.list-item_link:hover {
  text-decoration-color: var(--color-grey2);
}

.list-item_link:hover::after {
  width: 100%;
}
