.hello {
  margin-top: 67px;
  margin-bottom: 150px;
}


.hello__name {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 30px;
  max-width: 956px;
}

.hello__background {
  position: relative;
  width: 100%;
  /* max-width: 1150px; */
  height: 500px;
  background-image: url(../resources/img/hello-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-white);
}

.hello__text {
  position: absolute;
  left: 40px;
  bottom: 42px;
  color: var(--color-white);
  max-width: 430px;
  font-size: 20px;
}
/* //////////////////////////////////// */
/* //////////////////////////////////// */
@media (max-width: 1199px) {
  .hello {
    width: 100%;
    margin-bottom: 120px;
  }
  .hello__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .hello__name {
    max-width: 802px;
    font-size: 50px;
    line-height: 60px;
  }
  .hello__background {
    height: 400px;
    max-height: 550px;
    background-position: 40% 60%;
  }
  .hello__text {
    left: 42px;
    bottom: 30px;
  }
}

/* @media (max-width: 767px) { */
  /* .container .hello__container {
    padding: 0 15px;
  } */
/* } */

@media (max-width: 767px) {
  .hello {
    margin-bottom: 80px;
  }
  .hello__name {
    max-width: 100%;
    font-size: 30px;
    line-height: 31.62px;
    margin-bottom: 25px;
  }
  .hello__background {
    max-height: 304px;
    /* background-image: url(../resources/img/hello_bg_mobile.jpg); */
    /* background-position: 100%; */
    /* background-size: 100%; */
    background-size: 200%;
  }
  .hello__text {
    max-width: 312px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .hello__background {
    background-image: url(../resources/img/hello_bg_mobile.jpg);
    background-position: 100%;
    background-size: 100%;
  }
}