.projects {
  margin-bottom: 150px;
}


.projects__title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  color: var(--color-black--text);
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.project-card {
  display: flex;
  flex-direction: column;
}

.project-card__image {
  max-width: 1150px;
  max-height: 450px;
}

.project-card__image img {
  width: 100%;
  height: 100%;
  display: block;
}

.project-card__content {
  margin-top: 15px;
  /* margin-bottom: 15px; */
}

.project-card__content h3 {
  font-size: 30px;
  line-height: 41px;
  margin: 0 0 15px 0;
}

.project-card__content button {
  /* letter-spacing: -0.03em; */
}

.projects__more {
  margin-top: 90px;
}


@media (max-width: 1199px) {
  .projects__list {
    gap: 80px;
  }
  .project-card__content h3 {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 10px;
  }
  .project-card__image {
    height: 450px;
  }
  .project-card__image img {
    object-fit: cover;
    /* object-position: left bottom; */
  }
  .projects__more {
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .projects__list {
    gap: 50px;
  }
  .projects__title {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .project-card__content h3 {
    font-size: 18px;
  }
  .project-card__image {
    height: 250px;
  }
  .project-card__image img {
    width: 100%;
    height: 100%;
    /* object-fit: cover;
    object-position: left bottom; */
  }
}