.reviews {
}
.container {
}
.container.reviews__container {
    padding-top: 150px;
    padding-bottom: 150px;
}
.reviews__title {
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
}
.reviews__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 80px;
}
.review-card {
    width: calc(50% - 25px);
}
.review-card:last-child {
    width: calc(68%);
}
.card {
}
.card-author {
    font-size: 35px;
    line-height: 48px;
    text-align: left;
    padding-bottom: 25px;
}
.card-content {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

@media (max-width: 1200px) {
    .container.reviews__container {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .review-card:last-child {
        width: calc(73%);
    }
}

@media (max-width: 767px) {
    .container.reviews__container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .reviews__title {
        padding-bottom: 22px;
        font-size: 14px;
        line-height: 19px;
    }
    .review-card {
        width: 100%;
    }
    .card-author {
        font-size: 25px;
        line-height: 34px;
    }
    .card-content {
        font-size: 16px;
        line-height: 22px;
    }
    .review-card:last-child {
        width: 100%;
    }
}