.services {
  background-color: var(--color-black--text);
  padding-bottom: 150px;

}
.container.services__container {
  padding: 0 125px;
}

.services__title {
  color: var(--color-white);
  font-size: 18px;
  padding-top: 151px;
  padding-bottom: 35px;
}

.services__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 80px;
  column-gap: 10px;
  margin-bottom: 80px;
}

.service-card {
  display: flex;
  flex-direction: column;
  max-width: calc(50% - 5px);
}

.service-card:last-child {
  /* padding-bottom: 150px; */
}

.service-card__image {
  position: relative;
  width: 100%;
  height: auto;
}

.service-card__text {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 6px 26px;
  border-radius: 5px;
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: 22px;
  white-space: nowrap;
}

.service-card__image picture {
  width: 100%;
  max-width: 569px;
  height: auto;
  max-height: 388px;
  display: block;
  overflow: hidden;
}

.service-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-card h3 {
  color: var(--color-white);
  font-size: 30px;
  line-height: 41px;
  padding-left: 3px;
  padding-top: 15px;
  margin: 0;
}


@media (max-width: 1200px) {
  .container.services__container {
    padding: 0 25px;
  }
  .services__list {
    /* flex-direction: row;
    flex-wrap: wrap; */
  }
  .service-card {
    /* flex: 1 1 45%; */
    /* min-width: 308px; */
    /* max-height: 455px; */
    width: calc(50% - 10px);
  }
  .service-card__image {
    
  }
  .service-card__image picture {
    max-width: 100%; 
    max-height: 100%;
  }
  .service-card__text {
    font-size: 20px;
    top: 25px;
    left: 25px;
  }
  .service-card h3 {
    font-size: 25px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
  .services__list {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .service-card {
    width: 100%;
    max-width: 100%;
    max-height: 570px;
  }
  .service-card__image picture {
    max-width: 100%; 
    max-height: 507px;
  }
  .service-card__text {
    font-size: 18px;
    top: 23px;
    left: 23px;
  }
  .btn_theme_red.btn_size_full {
    width: 100%;
    height: 100px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}