.services {
  background-color: var(--color-black--text);
}


.services__title {
  color: var(--color-white);
  font-size: 18px;
  padding-top: 151px;
  padding-bottom: 35px;
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.service-card {
  display: flex;
  flex-direction: column;
}

.service-card:last-child {
  padding-bottom: 150px;
}

.service-card__image {
  width: 100%;
  height: auto;
}

.service-card__image img {
  width: 100%;
  height: auto;
  display: block;
}

.service-card h3 {
  color: var(--color-white);
  font-size: 30px;
  line-height: 41px;
  padding-left: 3px;
  padding-top: 15px;
  margin: 0;
}


@media (max-width: 1199px) {
  .services__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .service-card {
    max-width: calc(50% - 32px);
  }
  .service-card__image {
    
  }
}

@media (max-width: 767px) {

}